@using System.Web.UI.WebControls
@model RDKHomeSolutions.Website.Models.ContactModel

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="title-box">
        <h1>Contact Us</h1>
    </div>
</div>
<div class="contact-block bottom-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="section-title title-small styler_color">
                    <h2>Address, Phone & Email</h2>
                </div>
                <div class="address styler_color">
                    <ul class="contact-address">
                        <li>
                            <i class="fa fa-phone"></i>
                            p. 937.701.0088
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            info@RDKHomeSolutions.com
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="section-title title-small styler_color">
                    <h2>Contact Form</h2>
                </div>
                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.InvalidGoogleCaptchaLabel("Captcha is not valid !")
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.FirstName, new { placeHolder = "First Name", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(x => x.LastName, new { placeHolder = "Last Name", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Email, new { placeHolder = "Email", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextAreaFor(x => x.Comment, new { placeHolder = "Your Comments", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.GoogleCaptcha()
                    </div>
                    <div id="result"></div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                }
            </div>
        </div>
    </div>
</div>
@Html.Partial("NewsLetter")